################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Merged Code/.vs
/Ayushya/MedicalStoreModule/bin
/Ayushya/MedicalStoreModule/obj